flask
flask-cors
flask-sqlalchemy
flask-migrate
matplotlib
pandas
numpy
scikit-learn
nltk
textblob
vaderSentiment
transformers
torch
seaborn
plotly
fpdf
python-dotenv
sqlalchemy
psycopg2-binary
gunicorn